body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    background-color: #595959;
    color: aliceblue;
    padding: 10px 20px;
    height: 100px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.header h1 {
    margin: 10px;
    margin-right: 40px;
}

.header h2 {
    margin: 30px;
}

.header-link {
    text-decoration: none;
    color: inherit;
}

.header-link h1, .header-link h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: white;
    transition: color 0.3s ease;
}

.header-link:hover h1, .header-link:hover h2 {
    color: green;
}

.header img {
    width: 70px;
    margin-left: auto;
}

.cacti {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    border-color: black;
    top: 15px;
    right: 15px;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 2;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    flex: 3;
    padding: 20px;
}

.right-image {
    width: 100%; /* Make the image take up 100% of the container's width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional rounded corners */
}