body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    background-color: #595959;
    color: aliceblue;
    padding: 10px 20px;
    height: 100px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.header h1 {
    margin: 10px;
    margin-right: 40px;
}

.header h2 {
    margin: 30px;
}

.header-link {
    text-decoration: none;
    color: inherit;
}

.header-link h1, .header-link h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: white;
    transition: color 0.3s ease;
}

.header-link:hover h1, .header-link:hover h2 {
    color: green;
}

.header img {
    width: 70px;
    margin-left: auto;
}

.cacti {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    border-color: black;
    top: 15px;
    right: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    height: 100%;
    gap: 20px;
    margin-left: 2%;
    margin-right: 2%;
}
.grid-item {
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    border-width: 2px;
    border-radius: 1%;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.add-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top of everything*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
}

.popup input {
    width: 90%;
    padding: 10px; 
    margin: 10px 0;
    font-size: 16px;
    height: 30px; 
}

.popup button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.popup button.cancel-btn {
    background-color: #f44336;
}